.Body {
  /* position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  overflow: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.Body .Body__item {
  padding-top:160px;
  padding-bottom:160px;
  width: 1200px;
}